{% extends 'base/base.html' %}

{% block title %} Listado de Solicitudes {% endblock %}

{% block content %}
	<div class="container">

		<h4>Listado de Solicitudes de Adopción</h4>

		<table class="striped responsive-table">
			<thead>
				<tr>
					<td>No. Solicitante</td>
					<td>Adoptante</td>
					<td>No. Mascotas</td>
					<td>Razones</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				{% if object_list %}
					{% for solicitud in object_list %}
						<tr>
							<td>{{ solicitud.id }}</td>
							<td>{{ solicitud.persona.nombre }} {{ solicitud.persona.apellidos }}</td>
							<td>{{ solicitud.numero_mascota }}</td>
							<td>{{ solicitud.razones }}</td>
							<td>
								<a href="{% url 'adopcion:solicitud_editar' solicitud.id %}" class="btn waves-effect"><i class="far fa-edit"></i> Editar</a>
								<a href="{% url 'adopcion:solicitud_eliminar' solicitud.id %}" class="btn waves-effect red">Eliminar <i class="far fa-trash-alt"></i></a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<h4>No hay registro de solicitudes :(</h4>
				{% endif %}

			</tbody>
		</table>

		<br>
		<div class="center">
			<a href="{% url 'adopcion:solicitud_crear' %}" class="btn waves-effect blue">Crear Solicitud <i class="fas fa-plus"></i></a>
		</div>

	</div>

{% endblock %}
