{% extends 'base/base.html' %}

{% block title %} Recuperacion de contraseña {% endblock %}

{% block content %}

	<div class="container">
        <br>
        <div class="row">
            <div class="col s12 offset-m2 m8">
                <div class="card-panel ">
                    {% if validlink %}
                        <div class="center"><big>Creacion de una nueva contraseña</big></div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                {{ form.new_password1 }}
                                <label for="{{form.new_password1.label}}">{{form.new_password1.label}}</label>
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="input-field">
                                {{ form.new_password2 }}
                                <label for="{{form.new_password2.label}}">{{form.new_password2.label}}</label>
                                {{ form.new_password1.errors }}
                            </div>
                            <button type="submit" class="btn waves-effect waves-light">Enviar</button>
                        </form>
                    {% else %}
                        <div class="center">
                            <i class="far fa-frown fa-10x"></i>
                            <h4>Enlace Invalido</h4>
                            <big>Este enlace ya expiró</big>
                            <br><br>
                            <a href="{% url 'password_reset' %}" class="btn waves-effect waves-light">enviar nuevo enlace</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
	</div>

{% endblock %}
