{% extends 'base/base.html' %}

{% block title %} Recuperacion de contraseña {% endblock %}

{% block content %}

	<div class="container">
        <br>
        <div class="row">
            <div class="col s12 offset-m2 m8">
                <div class="card-panel center">
                    <i class="fas fa-check-circle fa-10x teal-text"></i>
                    <h4>Enlace enviado</h4>
                    <br>
                    <big>Te hemos enviado un correo con un enlace para que puedas recuperar tu contraseña</big>
                </div>
            </div>
        </div>
	</div>

{% endblock %}
