<center><big>Inicio de Sesión</big></center><br>
<form method="post">
    {% csrf_token %}
    <div class="input-field col s12">
        {{ form.username }}
        <label for="{{ form.username.label }}">{{ form.username.label }}</label>
    </div>
    <div class="input-field col s12">
        {{ form.password }}
        <label for="{{ form.password.label }}">{{ form.password.label }}</label>
    </div>
    <div class="row center">
        <button type="submit" class="btn waves-effect waves-light">Ingresar</button>
    </div>
    <div class="center"><a href="#">Olvidé mi contraseña</a></div>
</form>
