{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %} - Refugio de Animales</title>

	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/myStyles.css' %}">

	<script type="text/javascript" src="{% static 'js/fontawesome-all.js' %}"></script>

	{% block extrahead %}
	{% endblock %}
</head>
<body class="teal">
	{% block header %}
		{% include 'base/header.html' %}
		{% include 'base/sidenav.html' %}
		<br>
	{% endblock %}

	<main>
		{% block content %}
			<h4>Soy el content</h4>
		{% endblock %}
	</main>

	{% block footer %}
		<br><br>
		{% include 'base/footer.html' %}
	{% endblock %}


	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/myScript.js' %}"></script>


	{% block extrajs %}
	{% endblock %}

	<ul id="slide-out" class="side-nav">
	    {% if request.user.is_authenticated %}
	          <li><div class="user-view">
	                <div class="background">
	                  <img src="{% static 'images/office.jpg' %}">
	                </div>
	                <a href="#!user"><img class="circle" src="{% static 'images/yuna.jpg' %}"></a>
	                <a href="#!name"><span class="white-text name">{{request.user.first_name}} {{request.user.last_name}}</span></a>
	                <a href="#!email"><span class="white-text email">{{request.user.email}}</span></a>
	          </div></li>
	          <li><a href="{% url 'mascota:mascota_listar' %}">Mascotas</a></li>
	          <li><a href="{% url 'adopcion:solicitud_listar' %}">Adopciones</a></li>
	          <li><a href="#!" class="dropdown-button" data-activates="drop-account">
	              <i class="fas fa-user-circle"></i>
	              {{request.user.username }} <i class="fas fa-angle-down"></i>
	          </a></li>
	      {% else %}
	          <li><a href="{% url 'usuario:registrar' %}">Registro</a></li>
	          <li><a href="{% url 'login' %}">Ingresar</a></li>
	      {% endif %}
	</ul>

</body>
</html>
