{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %} - Refugio de Animales</title>

	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/myStyles.css' %}">

	<script type="text/javascript" src="{% static 'js/fontawesome-all.js' %}"></script>

	{% block extrahead %}
	{% endblock %}
</head>
<body class="teal">
	{% block header %}
		{% include 'base/header.html' %}
		{% include 'base/sidenav.html' %}
		<br>
	{% endblock %}

	<main>
		{% block content %}
			<h4>Soy el content</h4>
		{% endblock %}
	</main>

	{% block footer %}
		<br><br>
		{% include 'base/footer.html' %}
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/myScript.js' %}"></script>

	{% block extrajs %}
	{% endblock %}

</body>
</html>
