<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="hide-on-small-only col offset-m2 offset-l4"></div>
			<div class="col s12 m10 l4 center-align">
				<h4>Power By</h4>
				<a class="white-text" href="http://github.com/samir04m"><i class="fab fa-github fa-2x"></i> <big>Samir Mejia</big></a>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<span class="white-text">© 2018 Copyright</span>
			<a href="http://materializecss.com" class="right white-text">Materialize</a>
		</div>
	</div>
</footer>
