<header>
	<nav class="teal darken-2">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo "><i class="fas fa-paw"></i> Refugio de Animales</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{% url 'mascota:mascota_listar' %}">Mascotas</a></li>
					<li><a href="{% url 'adopcion:solicitud_listar' %}">Adopciones</a></li>
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
					{% else %}
						<li><a href="{% url 'usuario:registrar' %}">Registro</a></li>
						<li><a href="{% url 'login' %}">Ingresar</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
