{% extends 'base/base.html' %}

{% block title %} Listado de Mascotas {% endblock %}

{% block content %}
<div class="container">
	<div class="card-panel z-depth-4">
		<center>
			<p class="flow-text titulo-tabla">Listado de Mascotas</p>
		</center>

		<table class="striped centered responsive-table">
			<thead>
				<tr>
					<td>#</td>
					<td>Nombre</td>
					<td>Sexo</td>
					<td>Edad</td>
					<td>Fecha de Rescate</td>
					<td>Adoptante</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				{% if object_list %}
					{% for mascota in object_list %}
						<tr>
							<td>{{ mascota.id }}</td>
							<td>{{ mascota.nombre }}</td>
							<td>{{ mascota.sexo }}</td>
							<td>{{ mascota.edad_aproximada }}</td>
							<td>{{ mascota.fecha_rescate }}</td>
							<td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidos }}</td>
							<td>
								<a href="{% url 'mascota:mascota_editar' mascota.id %}" class="btn waves-effect">
									<i class="far fa-edit"></i> <span class="hide-on-med-and-down">Editar</span>
								</a>
								<a href="{% url 'mascota:mascota_eliminar' mascota.id %}" class="btn waves-effect red">
									<span class="hide-on-med-and-down">Eliminar</span> <i class="far fa-trash-alt"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<h4>No hay registro de mascotas :(</h4>
				{% endif %}

			</tbody>
		</table>

		<br>
		<div class="row center">
			<a href="{% url 'mascota:mascota_crear' %}" class="btn waves-effect blue">Agregar Mascota <i class="fas fa-plus"></i></a>
		</div>
		<div class="center">
			 <ul class="pagination">
				{% if page_obj.has_previous %}
					<a href="?page={{page_obj.previous_page_number}}" class="btn waves-effect waves-light btn-rounded"><i class="fas fa-arrow-left"></i> Anterior</a>
				{% endif %}
				{% if page_obj.has_next %}
					<a href="?page={{page_obj.next_page_number}}" class="btn waves-effect waves-light btn-rounded">Siguente <i class="fas fa-arrow-right"></i></a>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
